body {
    margin: 0;
    padding: 0px;
}
header {
    background-color: #00674F; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;


}


.logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo img {
    width: 450px;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}

/* Efecto elegante al pasar el mouse */
nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #F9A825; /* amarillo acento */
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}